*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 100%;
}
.header
{
    width: 100%;
    position: fixed;
    display: flex;
    background-color: rgb(16, 16, 46);
    color: white;
    height: 10vh;
    position: relative;

}

.tmdb
{
    height: 20px;
    display: flex;
    justify-content:flex-start;
    margin-top: 20px;
    margin-left: 20px;
}

.girls img
{
    width: 85%;
    margin: 0 auto;
    height: 30vh;
    display: flex;
    position: relative;
}

h3
{
    color: white;
    position: absolute;
    top: 15%;
    left: 15%;
}

@media screen and (max-width:500px) {
    .girls img 
    {
        width: 100%;
    }
    
}
